body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: #373A40;
}

.container {
    text-align: center;
}

h1 {
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
    animation: fadeIn 2s;
}

canvas {
    border: 2px solid #000000;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    background: #fff;
}

canvas:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
